[2020-11-14 15:07] sivo1981 opened #2 "NS7 Vue addLayer not working"
The problem is with method "addLayer" because of internal call to "this.addSource(sourceId, style.source)" and in this method there is condition which is not meet.

`addSource(id, options, nativeMap)`
nativeMap argument is always undefined because it is not called from the calling function.

[code]

Reject is always firing.

[2020-11-15 11:52] jameszonk opened #3 "XCODE 12.2 iOS build Error code 65"
When I add the plugin I get exit `Error is: Command xcodebuild failed with exit code 65.`

- "XCODE 12.2, XCODE 12.1"
- "@nativescript:": "7.0.11"
-  "@nativescript/core": "7.0.13",
-   "@nativescript/ios": "7.0.5",

[2020-11-15 18:09] cvietor opened #5 "feature: getLayer / getLayers"
**Is your feature request related to a problem? Please describe.**
Currently, the ui-mapbox plugin does not allow to get (and interact) with map style layers.
A use case would be to show or hide certain layers like "hide motorways", "show bikelanes"

**Describe the solution you'd like**
I propose to introduce the concept of a "Layer" type as following:
[code]
The native SDKs for Android and iOS pr

[2020-11-16 08:59] farfromrefug commented on #5
@cvietor great idea! waiting for your PR ;)

[2020-11-16 08:59] farfromrefug commented on #3
@jameszonk will need more than that :D
A full log will help. Also did you read this https://github.com/nativescript-community/ui-mapbox#warning

[2020-11-16 09:01] farfromrefug commented on #2
@sivo1981 will need a bit more. I dont see what line you are talking about. Where is the issue?

[2020-11-16 09:55] sivo1981 commented on #2
I have replaced calling method "addLayer" with "addPolyline" which is working as expected.

[2020-11-16 09:55] #2 closed

[2020-11-19 13:40] felixkrautschuk commented on #5
@cvietor @farfromrefug maxZoom and minZoom have already been implemented in my PR [here](https://github.com/Yermo/nativescript-mapbox/pull/365) in the original nativescript-mapbox plugin. But unfortunately the plugin author never merged it for whatever reason :(

[2020-11-19 13:41] farfromrefug commented on #5
@felixkrautschuk any chance for you to create the PR again on this repo ? I will merge it!

[2020-11-19 13:44] felixkrautschuk commented on #5
@farfromrefug not immediatly, but maybe at the weekend

[2020-11-19 13:59] cvietor commented on #5
@felixkrautschuk actually, the getMinZoom and getMaxZoom methods i mentioned are layer dependent and your's are the min- and max zoom levels of the map... so they a different things.
anyway, PR is welcomed :-)

[2020-11-19 14:28] felixkrautschuk commented on #5
@cvietor ahhhh sorry :D
but yeah, i will recreate that PR anyway as soon as i get time

[2020-11-19 14:59] #5 closed

[2020-11-23 06:35] SKTAR commented on #3
Same problem here , this is the error message after  running on IOS simulater 14.0

after removing  ui-mapbox plugin. it's working.

 I have no idea how to fix this , anyone can help me please ?.

[2020-11-23 07:24] farfromrefug commented on #3
@SKTAR sorry but still.not enough. Can you share the full build log?

[2020-11-23 12:29] SKTAR commented on #3
@farfromrefug    Here is a full log file , Thank a lot
[log_trace_map_box_ios.txt](https://github.com/nativescript-community/ui-mapbox/files/5582882/log_trace_map_box_ios.txt)

[2020-11-23 12:46] farfromrefug commented on #3
@shirakaba this is your issue
[code]
You are using latest mapbox 6.x?
I think the error comes from their new build system. either fix the version to 5.x([see here](https://github.com/nativescript-community/ui-mapbox#warning)) or go and ask them on their repo (search first).
Nothing i can do really.

[2020-11-24 19:14] syonfabian opened #6 "Rotating markers"
Is there any property such as the angle for rotating markers?

Forwarded from https://github.com/Yermo/nativescript-mapbox/issues/337#issuecomment-733168768.

[2020-11-26 11:36] cvietor commented on #6
@syonfabian afaik there is no property in the mapbox sdk that supports rotating markers (might be missing something) when using the `PointAnnotation` (iOS) / `Marker` (Android) types, which are utilised for the `addMarkers` function at the moment.

Quote from the docs:
`In summary, using annotations provide a familiar interface to MapKit’s annotation implementation, with built-in dragging and sele

[2020-11-27 06:15] syonfabian commented on #6
Thanks!
Yeah, I have seen that only these two are supported.
Would be awesome if you can extend the options.

[2020-12-04 19:50] KG3RK3N opened #10 "Roadmap?"
Hey guys, I would love to contribute more the plugin which is why I'm asking for a roadmap. 😃

My current todo list for this project:
- Full expression support for layout / paint properties
- Support for raster source & layer
- More features are welcome 😄

I think we should create a small roadmap to know which features are desired and should implemented.

[2020-12-04 20:15] keerl commented on #10
I would suggest making a GitHub project at the Community level: https://github.com/orgs/nativescript-community/projects

That way we can easily track goals of the project and keep track of its progress.

I am working on a standard community plugin seed that contains demos for all 4 frameworks (Angular, Vue, Svelte, and React) and a more standard plugin development workflow including Detox end-to-e

[2020-12-04 20:23] keerl commented on #10
I made a project for it here: https://github.com/orgs/nativescript-community/projects/4

It's all Issues based, so whenever you make one, in the sidebar select the project ui-mapbox

[2020-12-06 10:18] cvietor commented on #10
Thanks, @keerl !
Regarding the changes towards the community plugin seed, let's discuss that in a separate issue :-)

[2020-12-16 14:45] butaminas opened #13 "Update 'paint' option of added Layer?"
I'm looking for a way to update the `circle-radius` (inside `paint`) of already created Layer.

I can't seem to find any API for that and no examples either.

Is the only way currently to do so is to delete the old layer and create a new layer?

Thanks.

[2020-12-18 05:30] cvietor commented on #13
Currently that is your only option. I'll add that possibility soon, as it's a minor addition but a very useful one.

[2020-12-20 15:07] cvietor commented on #6
We recently added support for fill, symbol and raster layers. We will release a new version (hopefully very) soon.
In the meanwhile, you could have a look into the demo app to see how you can [add a symbol layer](https://github.com/nativescript-community/ui-mapbox/blob/master/demo/app/main-view-model.ts#L565) (rotation would need a `icon-rotate` key-value pair in the `layout` property.

[2020-12-20 22:19] cvietor commented on #10
added link to project board to readme

[2020-12-20 22:19] #10 closed

[2020-12-21 07:38] syonfabian commented on #6
Thank you @cvietor! I will give it a try!

[2020-12-21 20:21] ignacio68 opened #14 ""No map has been loaded" at addSource()"
Hello,

I can't add a Geoson layer with addSource(), always return "No map has been loaded" message. With addLayer() doesn't work either because it calls addSource().

I've read the same question at @Yermo repository:
Yermo/nativescript-mapbox#356
Yermo/nativescript-mapbox#367
but I can't solve this issue.

My dependences are:
[code]
Thanks in advanced

[2020-12-22 06:42] cvietor commented on #14
that is fixed and will be part of the next release, which i hope will be in the next days. i just want to finish one more fix

[2020-12-22 08:23] ignacio68 commented on #14
Ok, thanks four your quick answer. Yes, I've seen the code fixed at the repository.
I will be attentive to the new release.

[2020-12-23 09:38] cvietor commented on #14
should be resolved with `6.1.0`

[2020-12-23 09:44] cvietor commented on #6
try release 6.1.0 (out on npm right now), should be resolved with that one.

[2020-12-23 13:58] #14 closed

[2020-12-23 13:58] #6 closed

[2020-12-23 14:55] butaminas opened #15 "Blue circle color change of when showUserLocation is active?"
I have the setting `showUserLocation` as true. This shows a little blue circle on the map to indicate user location.

Is there any way to change the blue color or the icon itself?

[2020-12-23 16:14] cvietor commented on #15
At the moment, that is not possible. your best bet for modifying the user location marker is to manually call the `showUserLocationMarker` method and pass an options object to it. the `showUserLocation` attribute uses the aforementioned `showUserLocationMarker` method with an empty options object passed.

but even with that, support for properties is quite limited, as (quote from [sourcecode](http

[2020-12-23 16:47] butaminas commented on #15
So it makes more sense to use a regular marker and not to use the `showUserLocation` parameter.
However, if I set `showUserLocation` to false and try to use the `getUserLocation()` method, it doesn't work.
 

In this case, should use something else (e.g. `nativescript-geolocation`) to get user coordinates or is there another method that is available within `ui-mapbox` for getting user location?

T

[2020-12-23 17:13] cvietor commented on #15
hm i can see an issue here :-)
if you add your `MapView` instance via markup and set `showUserLocation` to false, `getUserLocation` won't work because under the hood, the `LocationComponent` is not setup, which is done in on initialization, when setting `showUserLocation` to true :-)

did you try to call the `showUserLocationMarker` method and afterwards `getUserLocation` ?

[2020-12-23 18:14] butaminas commented on #15
If I run `getUserLocation` right after `showUserLocationMarker` then it works but the coordinates are `-180, -180`

If run it inside `.then()` - `getUserLocation` doesn't work with no crash.

[2020-12-28 20:23] NickAusloos opened #17 "OnAnnotationClickListener problem on Android build"
I'm trying to setup a project with Nativescript and mapbox.
I started with Yermo's guide, but I changed to this package because I'm working with Nativescript 7 and Angular 11.

![Error](https://user-images.githubusercontent.com/32477993/103241084-7096a980-4952-11eb-9ed1-46da77a04c7f.PNG)

Here are the libraries of my package.json.

"dependencies": {
    "@angular/animations": "~11.0.0",
    "@angu

[2020-12-28 20:31] #17 closed

[2020-12-28 20:32] NickAusloos commented on #17
Don't use together with old nativescript-mapbox package.

[2020-12-29 12:21] NickAusloos opened #18 "Property for Marker color"
Is there something on the roadmap to set a Color property for the Marker?

[2020-12-30 09:52] cvietor commented on #18
No, the `addMarker` method uses mapbox annotation types (deprecated in mapbox android sdk) under the hood and they don't support a color property, as far as i can see.

- [android sdk docs MarkerOptions](https://docs.mapbox.com/archive/android/maps/api/8.6.6/index.html)
- [ios sdk docs MGLAnnotation](https://docs.mapbox.com/ios/maps/api/6.3.0/Protocols/MGLAnnotation.html)

you can consider to use

[2020-12-30 10:01] cvietor commented on #15
something seems weird, that is working perfectly fine for me:

[code]

[2020-12-30 12:20] cvietor commented on #15
will add support for additional properties, so you can set foreground and background-color

[2020-12-30 14:26] cvietor commented on #15
you can change the user location dot's color, stale-color, background-color and bearingtilt color on android with version `6.2.0`

[2021-01-30 23:58] trevortos opened #19 "Android - Exception on mapReady - black map"
6.1.0 and 6.2.0

Android 11, tns-android 6.5.3
On the emulator it works fine. But on my Pixel 3, it never calls the mapReady function.
Looking at the adb logcat I see this..

01-30 15:19:24.206 13443 13597 W CrashReporter: Root directory doesn't exist
01-30 15:19:24.348 13443 13443 E TelemetryUtils: java.lang.SecurityException: getDataNetworkTypeForSubscriber
01-30 15:19:24.380 13443 13597 W eroIn

[2021-01-31 00:17] trevortos commented on #19
Also tried the current git app build, getting the same thing.

01-30 16:15:32.234 19167 19217 I TetheringManager: registerTetheringEventCallback:org.nativescript.mapbox
01-30 16:15:32.244 19167 19167 E TelemetryUtils: java.lang.SecurityException: getDataNetworkTypeForSubscriber
01-30 16:15:32.262 19167 19217 W vescript.mapbo: Accessing hidden method Lcom/android/org/conscrypt/OpenSSLSocketImpl;->s

[2021-01-31 17:44] sivo1981 commented on #19
+1

[2021-02-01 15:14] mrwrighty commented on #3
Any update on this. Getting same error. ns doctor reports

✔ Component nativescript has 7.1.2 version and is up to date.
✔ Component @nativescript/core has 7.1.4 version and is up to date.
✔ Component @nativescript/ios has 7.1.1 version and is up to date.

MapBox plugin version @nativescript-community/ui-mapbox   ^6.2.0

[2021-02-01 15:15] farfromrefug commented on #3
@mrwrighty please share the build log

[2021-02-01 15:26] mrwrighty commented on #3
Undefined symbols for architecture i386:
  "_OBJC_CLASS_$_DDASLLogger", referenced from:
      objc-class-ref in TSLocationManager(TSLog.o)
  "_OBJC_IVAR_$_DDLogMessage._timestamp", referenced from:
      -[TSDBLogEntry initWithLogMessage:] in TSLocationManager(TSDBLogger.o)
  "_OBJC_IVAR_$_DDLogMessage._context", referenced from:
      -[TSDBLogEntry initWithLogMessage:] in TSLocationManager(TSDB

[2021-02-01 15:29] farfromrefug commented on #3
@mrwrighty what is all those. I dont think those symbols come from Mapbox. Must be another 3rd party plugin

[2021-02-01 15:36] mrwrighty commented on #3
I had nativescript-background-geolocation-lt installed so have removed that and now get

Undefined symbols for architecture i386:
  "_OBJC_CLASS_$_Config", referenced from:
      objc-class-ref in main.o
  "_OBJC_CLASS_$_NativeScript", referenced from:
      objc-class-ref in main.o
     (maybe you meant: _OBJC_CLASS_$_NativeScriptEmbedder)
  "_TNSInitializeLiveSync", referenced from:
      _main

[2021-02-01 15:57] farfromrefug commented on #3
@mrwrighty can you try forcing Mapbox version to 5 using something like this https://github.com/nativescript-community/ui-mapbox/blob/master/demo/app/App_Resources/iOS/Podfile

[2021-02-01 16:05] mrwrighty commented on #3
Ok pod file now contains pod 'Mapbox-iOS-SDK', '~> 5.1.1' but getting the same error.

[2021-02-01 16:10] farfromrefug commented on #3
@mrwrighty and the error is gone if you remove mapbox plugin?

[2021-02-01 16:22] mrwrighty commented on #3
Yes removing the plugin and the app builds and installs on simulator.

[2021-02-01 19:39] mrwrighty commented on #3
OK good news it looks like some legacy file were left behind after setting the pod file to pod 'Mapbox-iOS-SDK', '~> 5.1.1'. ns clean and a rebuild now works.

[2021-02-01 21:13] sivo1981 commented on #19
Adding bellow configuration to `App_Resources\Android\app.gradle` solves this issue.

[code]

[2021-02-02 21:00] trevortos commented on #19
That did seem to work.
I might have also had the default app id, but I dont know if that was the cause.

[2021-02-09 03:19] RGBvision opened #20 "How to change map's language?"
Any chance to add this feature? Maybe code sample how to reproduce [this](https://docs.mapbox.com/android/maps/examples/change-a-maps-language/) or [this](https://docs.mapbox.com/android/plugins/examples/change-map-text-to-device-language/) in NS?

[2021-02-10 09:33] wendt88 opened #21 "Mapbox & Crashlytics cause crash on AVD"
## How to reproduce
Run:
1. `ns create test --vue`
2. `cd test`
3. `tns plugin add @nativescript/firebase` -> enable android and crashlytics only or copy `firebase.nativescript.json` below
4. `ns plugin add @nativescript-community/ui-mapbox`

copy [`google-services.json`](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/demo-vue/app/App_Resources/Android/google-services.j

[2021-02-10 13:44] mohammadrafigh opened #22 "setOnMapClickListener is not working on iOS"
After switching from legacy repository to ui-mapbox, `setOnMapClickListener` is not working on iOS but it works on Android.
I see the promise is resolved but I never get into the listener.

[2021-02-16 06:43] Hugheym commented on #21
Had a similar issue. Upgrading com.squareup.okhttp3:**logging-interceptor** solved the problem for me.

[2021-02-16 07:57] wendt88 commented on #21
@Hugheym can you help me how?

my `before-plugins.gradle` contains (for firebase push notifications & geolocation):
[code]

THX

[2021-02-16 09:36] Hugheym commented on #21
Hey, sorry, I was speaking from experience on another Mapbox project. I'm not very familiar with native script, but can't find where okHttpVersion gets used... https://github.com/nativescript-community/ui-mapbox/blob/master/plugin/platforms/android/include.gradle

Since okHttp is a transitive dependency via many of the mapbox dependencies you're using, I'd update those. If possible, start with map

[2021-02-17 22:06] arthurgeay commented on #22
I have the same problem on iOS.
On Android too, it doesn't work.

And unlike iOS, I have an error that starts in the terminal

[code]

[2021-02-18 23:00] JeremDlcn commented on #22
Same thing here, i have problem Android, the setOnMapClickListener doesn't work at all. Same error of the above comment.

[2021-02-22 11:19] ignacio68 opened #23 "Add getSource() method to plugin"
Hi, it's possible to add getSource() MapBox method to the plugin?

I have some problems when I remove sources. Mapbox returns a error message "Could not remove source with id: mySourceId". I need to know if the source exits in map.

Example

[code]
Thanks in advance.

[2021-03-08 14:45] wendt88 commented on #21
@jameszonk it works fine, thx!

[2021-03-08 14:45] #21 closed

[2021-03-08 17:34] hreeves19 commented on #22
I am also having this issue, but only on IOS. Although, I don't see any build errors, I'm using Angular integration.

[2021-03-12 09:11] vMaOaOaEs opened #25 "Android - addLayer(Line) not working on versions higher than 6.2.0"
Android 11 - Emulator Pixel XL API R
"@nativescript/angular": "10.1.5",
 "nativescript": "^7.0.11"

mapbox.addLayer(type: 'line' .....) => Line not visible
but mapbox.addPolygon is working fine.

not tested on iOS and not tested with other Android versions

[2021-03-18 02:13] wuilmerj24 opened #26 "Change uisettings"
Is it possible to access the uisettings?

[2021-03-19 21:15] trevortos commented on #25
JNI ERROR (app bug): accessed stale WeakGlobal 0xc7222f23  (index 208806642 in a table of size 898)
java_vm_ext.cc:545] JNI DETECTED ERROR IN APPLICATION: use of deleted weak global reference 0xc7222f23
java_vm_ext.cc:545]     from java.lang.Object com.tns.Runtime.callJSMethodNative(int, int, java.lang.String, int, boolean, java.lang.Object[])

Emulator and Pixel 3
"@nativescript-community/ui-mapb

[2021-03-21 20:52] mohammadrafigh commented on #22
I found the problem. PR is coming.

[2021-03-21 23:21] mohammadrafigh commented on #22
I sent a PR just for iOS, Because I was not able to produce this issue on Android. but as a workaround this may help you guys:

if you are going to listen to click events on a specific layer, which is not my case, just replace `setOnMapClickListener` with `onMapEvent`.
[code]

[2021-03-24 16:03] ouryhamdalaye opened #28 "Can't resolve '@nativescript/core/utils'"
First time using this plugin, I followed the guidelines and can't get it to run :
in my map.ts component :

[code]

my map.html

[code]

and when i run I have this exception :

[code]

My package.json is as follows

[code]

I am testing on android

[2021-03-29 20:25] wuilmerj24 opened #29 "get the map instance"
it is possible to get the map instance?

[2021-03-31 22:51] guillemc23 opened #31 "Element registry dependency"
Probably a newbie question, but I can't manage to import this dependency:

`import { registerElement } from "nativescript-angular/element-registry";
`
Has it been moved in NS 7.x or something?

[2021-04-01 15:27] guillemc23 commented on #31
Well, I solved the issue by importing it using the new imports in NS 7.X, if anybody else is struggling with this.
`import { registerElement } from "@nativescript/angular/element-registry";` should work.

[2021-04-01 15:27] #31 closed

[2021-04-07 07:25] j99ht opened #32 "Same icon for all markers added"
Installing the latest release of the plugin, 6.2.8, when I add an array of markers, with different icons, the markers are drawn with the icon of the first one.
I'm using NS7+Angular.
See below a piece of code.
[code]
I see all the properties of the markers correctly set (title, subtitle, etc) but the icon displayed is always the one of the first element drawn.

I have tried with older releases of

[2021-04-19 13:47] robertbruno commented on #28
Hi!! i have the same problem as you. My  `info`:

 Update available for component nativescript. Your current version is 7.1.2 and the latest available version is 8.0.1.
✔ Component tns-core-modules has 6.5.27 version and is up to date.
⚠ Update available for component tns-ios. Your current version is 6.0.1 and the latest available version is 6.5.4.
✔ Component tns-android has 6.5.3 version and is

[2021-04-20 13:15] butaminas opened #34 "getUserLocation() doesn't work unless showUserLocation is enabled"
The only way to get user location is to enable `showUserLocation`.

In my case, I would like to show a marker instead so that if you change address in the app, the marker would be showed in a different location on the map. If you enable `showUserLocation`, user icon is always visible and adding a marker there makes confusion.

Any way to get user location without using the `showUserLocation` optio

[2021-04-20 13:16] #15 closed

[2021-04-23 09:39] adamsebesta opened #35 "Init Map w/ showUserLocation but not zoom to actual location"
Hi,

I am wondering about the possibility to init a map with both markers and currentUserLocation, but disable the auto-zoom to userLocation.

To reiterate, currently, whenever a map is displayed with currentUserLocation set to true, the viewport will be set with the current user's position centered. I would like to disable this default functionality, and set my own viewport (i.e to (1) of the mar

[2021-04-23 09:53] adamsebesta commented on #35
Closing issue as I stumbled upon the lines in question (located in mapbox.android.js, lines 2158-2162)

`       // let cameraMode = this._stringToCameraMode('TRACKING');
                // if (typeof options.cameraMode != 'undefined') {
                //     cameraMode = this._stringToCameraMode(options.cameraMode);
                // }
                // this._locationComponent.setCameraMode(cam

[2021-04-23 09:53] #35 closed

[2021-05-14 11:07] j99ht commented on #32
It works with the solution proposed.

[2021-05-14 11:07] #32 closed

[2021-05-19 19:10] KG3RK3N commented on #28
@ouryhamdalaye It seems that you're using nativescript 6, the ui-mapbox plugin is for nativescript >7

[2021-05-21 11:32] CyrusLiu158 opened #40 "how can i set language?"
I want to set  chinese by default。somebody konws how to accomplish it ?
I found the plugin  [mapbox-gl-language ](https://github.com/mapbox/mapbox-gl-language) , but no nativescript version.
need help, thx.

[2021-05-21 15:04] CyrusLiu158 opened #41 "can i get Navigation or direction ?"
I want to get  Navigation or direction  in map , are there interfaces?

[2021-05-21 17:28] KG3RK3N commented on #40
I've just opened a new PR #42 that makes it possible to set and get the layer properties.

After the PR is merged, you can set the language with the sample below:
[code]

[2021-05-21 17:37] KG3RK3N commented on #20
See https://github.com/nativescript-community/ui-mapbox/issues/40#issuecomment-846121113

[2021-05-21 17:42] KG3RK3N commented on #13
Hi @butaminas

I've just opened a new PR #42 that makes it possible to set and get the layer properties.

After the PR is merged, you can set the 'circle-radius' property like below:
[code]

[2021-05-21 23:48] CyrusLiu158 commented on #40
thx

[2021-05-21 23:48] #40 closed

[2021-05-28 05:21] lochstar commented on #29
Yes, it's available as `mapbox._mapboxViewInstance`.

[2021-05-31 05:31] wuilmerj24 commented on #29
Okay thanks.

[2021-05-31 05:31] #29 closed

[2021-05-31 06:50] Shirayo opened #46 "borderRadius don't work on android with maps"
borderRadius don't work on android with maps. on iOS it's working properly.I tried to wrap in content view but it doesn't help. Also tried css and direct changing.  MapBox version 6.2.7. Is there any solutions?

[2021-06-02 06:22] zghotlawala commented on #22
Any progress on resolving the setOnMapClickListener issue for ios?

[2021-06-07 07:34] nicwortel opened #48 "Markers with dynamic SVG icons"
Hi! Thanks for maintaining this plugin.

I have a JavaScript library to dynamically generate icons, which I would like to use as marker icons in my map. These icons are generated as SVG images. As far as I can see, SVG icons (and dynamic icons in general) are not currently supported by ui-mapbox. Would it be possible to add support for SVG icons by passing their XML markup? Or can you give me any

[2021-06-09 16:00] nicolaric opened #49 "Add support for Location picker"
hey guys
I'd like to have a location picker like in WhatsApp in my application. The Maps SDK from Mapbox already supports it and it would be terrific, if that would also be possible somehow in the nativesctipt library:
https://docs.mapbox.com/android/maps/examples/location-picker/

[2021-06-15 04:52] lochstar commented on #19
Updating to the latest Android SDKs fixed it for me.

[2021-06-30 00:50] trevortos commented on #19
So im having an new issue, same class / area of issues. I have to look at adb because nothing is erroring out. The mapReady function is never called.
Samsung S20, all libs / tns / and os updated. Same exact build works on my Pixel 3.
Yes the permission is added to the manifest.

 TelemetryUtils: java.lang.SecurityException: getDataNetworkTypeForSubscriber: uid 10316 does not have android.permissio

[2021-07-06 09:58] siewedu opened #51 "circle-radius interpolation on iOS"
I updated the mapbox plugin from 5.0.0 to 6.2.9 and noticed that the circle-radius interpolation is not working anymore on iOS. Which means that a circle won't be adjusted in size according to the zoom level. The functionality was removed in PR #8

so basically this was removed
[code]
and replaced with a TODO
[code]

I tried to reintroduce the functionality and created a dictionary with some test

[2021-07-06 12:15] siewedu commented on #51
Ok nevermind, I just realised the functionality is working perfectly fine in the latest plugin version. You just have to use the new mapbox expression syntax
https://docs.mapbox.com/mapbox-gl-js/style-spec/expressions/
[code]
Would be nice to update that in the angular demo, since it is currently using the old syntax there which will not work with the current plugin version

[2021-07-09 12:01] rlnd1 commented on #32
Any update on this?

[2021-08-03 17:56] Sauvetonbio commented on #32
Same issue on 6.2.9 how can we do ? Thank you

[2021-08-17 04:46] bwobbones opened #54 "iOS map panning only works from the edge"
On Android, I can use my finger to drag the map around from any point on the map. In iOS I can only move the map if i start the gesture from the edge of the screen.

Is that intentional?  Or a setting?  I can't find anything in these or the mapbox API issues that describes this behaviour.

[2021-08-23 09:13] RGBvision opened #55 "TypeError: PropertyFactory[actualKey] is not a function"
I've got "TypeError: PropertyFactory[actualKey] is not a function" message when trying add layer any type but 'raster' using code from demo.

[code]

[2021-10-04 10:44] rlnd1 commented on #32
Could someone have a look at the open PR?

[2021-10-18 12:21] mariuszskoczylas opened #56 "mapbox.addImage() doesnt work with local storage, is this possible to load images to clustered feature ? or create clustered custom markers ?."
Loading image from from res:// or even from any other directory from projects sources works, but it failed when path point to local storage. Im using clustering points and want to load images from backend and then using "icon-image" in symbol feature to point to this image added by mapbox.addImage(), due there is no other way to add image ( adding custom marker is not a solution, or someone know h

[2021-12-14 12:27] b44rd opened #57 "Feature: Marker clustering"
Hi, wanted to investigate the status of marker clustering support in this plugin. I see the marker clustering function do have some code in it, but it is commented out. Are clustering support a planned feature, or do anybody have a working fork with clustering support? Thanks in advance.

[2022-01-02 14:25] Reached commented on #21
@ghost thanks for providing the solution!

However I don't think it's related to the mentioned plugin (Crashlytics), as I am not using that in my project, and it still crashed on Android. After adding the logging dependency, it worked like a charm however :)

[2022-01-05 22:43] Lavhe opened #58 "Failing to get user location"
When i call `getUserLocation()` , I get this error message '**Location not available**'

Please note that I am calling this function after location permission has been approved.

Android: 12
TargetSDK: 30

Can you please assist, Or ask for more detail.

Thanks

[2022-01-12 15:01] vhdirk opened #59 "Load geoJSON source from file"
Hi

I have a fairly large (20MB) geoJSON dataset that I want to add as a source. Reading the file from disk, then parsing and adding it does work, but it's really rather slow:

[code]

The docs mention a way to skip all the extra parsing: https://docs.mapbox.com/help/troubleshooting/working-with-large-geojson-data/#store-geojson-at-url. As far as I could test, this method does not seem to work for

[2022-01-14 15:05] Reached opened #60 "Error when trying to build for release (iOS)"
Hi there,

I am trying to build my app for release on iOS, but I keep running into the same issue:

[code]

Version: latest (6.2.11), but I also tried earlier versions

Build command:

`ns build ios --release --env.production`

Any help is appreciated!

[2022-01-14 15:48] keerl commented on #60
From the error message it looks like an old version. Have you done a `ns clean` before building with the latest version?

I just ran `ns build ios --release --env.production` on the latest version and it worked fine for me.

[2022-01-15 08:40] Reached commented on #60
Yea I tried that actually, but still the same error occurs.

I tried:

`ns prepare ios --release`
`ns build ios --release --env.uglify --env.production`

It seems to be super random, I had it running yesterday after trying to up and downgrade the version a couple of times and then rebuild... But now it does not seem to work again

[2022-01-15 09:01] Reached commented on #60
Okay, so I finally got it to build using 6.2.11, but now I am unable to tap on my markers (this definitely works in previous versions of the plugin, but not the latest for some reason)....

[2022-01-15 10:17] Reached commented on #60
Update, markers seem to work on Android, but not on iOS

[2022-01-16 19:50] discobanco opened #61 "Enable raster-only loading"
In order to add new sources, at the moment, one has to wait for the mapReady event to fire (else they won't properly show up), and for that to happen, a token and an initial style are needed. Given that the functionality is handy and some users may not require access to mapbox specific servers (if they are using openstreetmaps for example), would it be possible to bypass the initial check?
I'm gue

[2022-01-16 19:55] discobanco commented on #61
It seems to be possible to have raster-only sources in the original API:
https://docs.mapbox.com/mapbox-gl-js/example/map-tiles/

[2022-01-17 12:28] Reached commented on #60
Any ideas here? Seems there are issues with the markers on iOS in the latest version, but earlier versions is not possible for me to build..

[2022-01-17 12:45] keerl commented on #60
Just published 6.2.12. Could you try that out?

[2022-01-17 12:58] Reached commented on #60
Will do thanks!

[2022-01-17 13:07] Reached commented on #60
It works like a charm now (both building, and markers), thanks for fixing it so fast, and for helping out in general!

[2022-01-17 14:31] #60 closed

[2022-01-18 05:24] discobanco commented on #61
So it seems one can use raster-only configuration as long as they use their own custom json style.
However, the local access using `~/` seems to fail. Traced the parsed URL and it's all correct, ( `return 'file://' + path.join(knownFolders.currentApp().path, input.replace('~/', ''));` ) ==> I use the same exact method to load the tiles, and that works. So I'm guessing it's a problem with the call

[2022-01-25 05:34] nicolaric commented on #57
This seems to be available now: https://github.com/nativescript-community/ui-mapbox/pull/62

[2022-01-25 05:39] nicolaric commented on #58
What exactly do you want to achieve? Just getting the user location?

[2022-02-17 02:24] guillemc23 commented on #57
Any idea how to use it? I added this to my settings but I can't see any change

[code]

[2022-03-03 12:57] vignesh-web opened #75 "Can't add markers programatically"
I am trying add markers dynamically/programatically after map is renderer but nothing is happening. Please see my code below

**Service Code:**
[code]

**Component.ts code:**

[code]

**Component.html code:**

[code]

The above implementation is not displaying markers by default even there is **markers: [{}]** property available in the settings.

Moreover, In the below code, from where we can refe

[2022-03-08 12:28] mrwrighty opened #76 "Cannot compile using Node v17.6.0 for ARM"
Have migrate node to arm64 for M1. I have tried running in the terminal both with and without Rosetta.

Compilation crashes immediately after Installing Mapbox-iOS-SDK (5.1.2)

_Installing Mapbox-iOS-SDK (5.1.2)

<--- Last few GCs --->

[31064:0x138008000]    32720 ms: Mark-sweep 4064.7 (4143.3) -> 4063.0 (4143.8) MB, 1200.0 / 0.0 ms  (average mu = 0.463, current mu = 0.013) allocation failure sca

[2022-03-08 13:21] mrwrighty commented on #76
Sorry please ignore. It was a failure of ns clean to remove the node_modules folder

[2022-03-08 13:21] #76 closed

[2022-03-08 13:21] mrwrighty commented on #76
Sorry please ignore. It was a failure of ns clean to remove the node_modules folder

[2022-04-11 21:07] adideas commented on #3
HI !

Here is what helped me
- XCODE 13.3.1
- NativeScript 8.0.2 cli
- Platform IOS "6.5.2"

STEP 1 (build.xcconfig)

[code]

STEP 2 (Podfile)

[code]
give me a star thanks

[2022-04-20 15:39] RemiKalbe commented on #3
Doesn't work for me @adideas

[2022-04-20 16:31] RemiKalbe opened #78 "EXC_BAD_ACCESS (SIGSEGV)"
Adding a MapboxView instantly crashes my app on iOS simulator (haven't tried on android).

<details><summary>Crash report</summary>
<p>

[code]
</p>
</details>

Some context:

[code]
[code]
Podfile
[code]

[2022-04-20 16:34] RemiKalbe commented on #78
If I remove `accessToken` it doesn't crash but nothing appears obviously.

[2022-04-20 16:52] RemiKalbe commented on #78
Seems to be related https://github.com/mapbox/mapbox-gl-native-ios/issues/651

[2022-05-19 09:15] connorsleight opened #79 "Unable to load marker icon from custom style"
We have a web app and mobile app in which we use mapbox, in both apps we use a custom mapbox style. In the web app we use a custom icon for the markers that we uploaded into the style itself in the mapbox studio editor. I've tried to load the same icon into the mobile app but with little luck.

I did some digging into the index.android.js file as to how it loads the images and from what I can tell

[2022-05-31 20:46] cloudhx opened #80 "[Android][Bug]Incorrect marker icon cache"
Check out below code:
https://github.com/nativescript-community/ui-mapbox/blob/0f4df978a606dfd02bbcc17f2c60081d270d2abf/src/ui-mapbox/index.android.ts#L1348

When setting different icons for markers, all markers will only show icon from the first marker as cache key is using `marker.iconPath` which is always undefined.

Currently the workaround is to also set `iconPath` along with `icon`, e.g
[cod

[2022-06-12 22:47] narender56 opened #81 "IOS: Zoom is not working and Compass is not visible"
I'm using this plugin in svelte native, and I've tried setting `disableZoom = false` and `hideCompass = false`, but neither of these options works. Is anyone else having the same problem? Also, when I set `zoomLevel = 18`, the app crashes, I'm not sure why.

[code]

<img width="365" alt="image" src="https://user-images.githubusercontent.com/8955270/173256524-1b0d793c-3f46-4b38-a966-58451213b861.pn

[2022-06-13 10:25] narender56 opened #82 "Is it possible to resize the custom icon?"
[code]
<img width="381" alt="image" src="https://user-images.githubusercontent.com/8955270/173333722-e8fbbc9b-7bf6-40ce-a228-f633c6554cd8.png">

[2022-07-08 05:16] youssefgh opened #83 "Error occurred while initializing telemetry"
[code]

### Device :
Android Emulator API 33
### How to reproduce :
create a new NS app, add ui-mapbox plugin [,add TelemetryService] and create a basic component that shows a map
### Workaround in dev environment :
upgrade mapboxTelemetry in **node_modules/@nativescript-community/ui-mapbox/platforms/android/include.gradle** with :  `def mapboxTelemetryVersion =  "8.0.0"`

mapboxTelemetry 8.0.0 se

[2022-07-11 12:55] youssefgh commented on #83
Putting :
[code]
in App_Resources/Android/before-plugins.gradle seems like a solution but waiting for plugin devs input

[2022-07-18 07:33] foxgreek opened #84 "[Bug][Android]: missing current user location on map"
Hello there,

we are using mapbox for showing multiple markers on our app. It runs on android and iOS. Everything worked well, but since some weeks we are not able to get the current location on android. It already worked and we did not update the app since then. Any ideas why the current location can't be found?

We already requested ACCESS_COARSE_LOCATION and ACCESS_FINE_LOCATION in AndroidManif

[2022-07-18 12:29] felixkrautschuk commented on #84
I also had this issue on Android 12+.

I added this dependency to my app.gradle and after that, it was working again:

[code]

[2022-07-18 13:49] foxgreek commented on #84
@felixkrautschuk thank you once again! It's working now again

[2022-07-18 13:49] #84 closed

[2022-07-22 22:39] SeanKelly369 opened #85 "geojson data not loading"
Hello,

Can anyone help me out?

No errors are appearing in the console and when using the debugger everything is fine.  The only issue is, when running addLayer() nothing is appearing on the screen.

The map loads fine and the deprecated functions work no problem within setOnMapClickListener, but no joy with the addLayer() function.  Where am I going wrong?

**TypeScript**
onMapReady(args) {

[2022-07-23 11:33] SeanKelly369 commented on #85
The coordinates needed to be swapped

[2022-07-23 11:33] #85 closed

[2022-07-27 09:54] siewedu opened #86 "Tap event on iOS stopped working in release 6.2.12"
Hi,

we just updated from 6.2.11 to 6.2.15 and noticed that the taps on the map are not detected anymore on iOS.
I assume it was due to [this](https://github.com/nativescript-community/ui-mapbox/commit/fabe6abedbb8d03fa2e220272f604b6528ebd196) change which was introduced  in 6.2.12. @keerl could you please provide some information on the reasons and intentions for this change?

[2022-08-03 11:35] seros00 commented on #80
Hi, @cloudhx.

There is a PR to solve this issue:
[Update index.android.ts - Fixes #32 Same icon for all markers added](https://github.com/nativescript-community/ui-mapbox/pull/77)

[2022-08-03 15:21] seros00 opened #87 "Layers hide markers below them"
Is there a way to make the markers appear ON top of the layers instead of the layer hiding the markers?
You can see the issue in this image:

![overlapping](https://user-images.githubusercontent.com/12219508/182645728-63136e21-b091-44e3-8bd8-ae418b7e367b.jpg)

[2022-08-04 13:46] seros00 opened #88 "Call to getLayer() throws the error "TypeError: Cannot read property 'identifier' of null" [iOS only]"
Calling getLayer("MylayerID") throws the error "TypeError: Cannot read property 'identifier' of null" when the layer doesn't exists.

My config:
iOS: 15.4
iPhone 12 (emulated)
NS: 8.2.3
ui-mapbox: 6.2.15

[2022-08-05 15:41] guillemc23 opened #89 "Can't find layer using getLayer() on Android"
Hello everybody!

I am trying to implement a map with some highlighted countries. I'm trying to use setFilter as documented in #7 as follows:

[code]

The map renders with all countries filled in red due to the addLayer method, but it crashes when trying to get the layer I just created, so it's unable to apply the filter:

`JS: ERROR Error: Uncaught (in promise): TypeError: Cannot read property 's

[2022-08-05 15:41] guillemc23 commented on #88
This is happening to me on Android too, I opened #89 to explain more in detail what happened to me.

[2022-08-07 13:27] seros00 commented on #89
Hi @guillemc23.

Try to "concat" the promise returned by addLayer()

mapView.addLayer({
...
})
.then(() => mapView.getLayer(
...
))

[2022-08-08 00:30] guillemc23 commented on #89
This does work indeed. It does apply the filter correctly. Thanks a lot!

My final code looks like this:

[code]

[2022-08-08 00:30] #89 closed

[2022-08-08 00:45] guillemc23 opened #90 "[Android] Map ignoring Zoom level property"
I'm creating a map programatically with these settings:
[code]
Everything works fine except for the zoomLevel parameter, which seems to be ignored when the map loads.

I've also tried the following but it's also being ignored:
[code]

**I'm running Android, NS 8.3.1, Angular 14 and the plugin version 6.2.15**

[2022-08-08 11:01] guillemc23 commented on #90
Changing the zoom level to 1 works, not sure if expected behavior :-)

[2022-08-08 16:48] seros00 commented on #86
Hello.

It seems that with the code for "cancel the default tap handler", tapping on the markers works, but tapping on the map does not work. If this code is commented, just the opposite happens: tapping on the map works, but tapping on markers doesn't work.

Any possible solution?

[2022-08-09 10:01] louisportalest commented on #78
Im having the same issue too.

[2022-09-12 18:28] madmas opened #92 "Migrate to a recent Mapbox SDK on iOS, e.g. 10.x"
As the current SDK used is 5.1.1 and there is a "warning" from mapbox that those version will no longer be kept compatible after April 2023, we should start to work on a migration in order to keep this plugin working beyond that point.

<img width="996" alt="Bildschirmfoto 2022-09-12 um 20 25 37" src="https://user-images.githubusercontent.com/37251/189728719-823e63a4-356e-4f4c-ba10-bc850cca24e8.pn

[2022-09-14 14:22] farfromrefug commented on #92
@madmas can you try forcing the pod version in your app podfile?

[2022-09-14 15:23] farfromrefug commented on #88
@seros00 @guillemc23 sorry for the long delay. A new version has been published which should fix this.

[2022-09-21 07:50] felixkrautschuk commented on #92
I think it will be getting tricky to migrate this plugin to using Mapbox SDK 10 on iOS. I already gave it a try to import the latest pod and generate the typings, but it seems impossible right now as NativeScript needs Obj-C backwards compatibility and this seems to be the problem as stated [here](https://www.mapbox.com/mobile-maps-sdk) in the last question:

There is already a Github issue in the

[2022-09-21 08:04] farfromrefug commented on #92
@felixkrautschuk indeed if mapbox 10 is in swift without the obj-c comp layer you will have to do that all on your own :(
Definitely means for me that i will stop supporting mapbox sdk.

[2022-09-26 13:21] #88 closed

[2022-10-19 19:58] cloudhx commented on #80
Thanks @seros00, I will hereby close this issue.

[2022-10-19 19:58] #80 closed

[2022-11-06 21:05] SeanKelly369 commented on #86
For me, this is working intermittently.  It usually works fine when opened at first and when triggering loading events elsewhere in the app and then returning back to the component.  After that, it's a lottery if the trigger events execute or not.

[2022-11-07 10:28] farfromrefug commented on #86
@seros00 @SeanKelly369 @siewedu what UI flavor are you using? vue, angluar, core... ?
BTW we are also searching for maintainers on that plugin if you are interested in helping

[2022-11-07 10:47] SeanKelly369 commented on #86
@farfromrefug I'm using Angular.  I'd definitely be interesting in being a maintainer for this plugin.

[2022-11-07 11:08] farfromrefug commented on #86
@SeanKelly369 pretty awesome to hear! i can add you right now to @nativescript-community and you are free to work do whatever you want with this plugin. I can guide you on the repo structure/build if you want.

as for the flavour, i saw some comments on discord about it possibly being a ngzone issue? (was it you?). This is why i asked about flavours, would like to know if you are all using angular

[2022-11-07 14:26] SeanKelly369 commented on #86
@farfromrefug that would be fantastic.  I really need to see what is going on under the hud.  I'm in work until 5pm GMT and then walking the dog.  I'll be available tonight.

The comment on Discord was from me.

[2022-11-07 16:25] farfromrefug commented on #86
@SeanKelly369 you are invited. Dont hesitate to ping me on discord if you need help (living in GMT+1, not really available during the evening).

[2022-11-25 17:20] MarkOdey opened #95 "Layer layout with "icon-text-fit-padding" not working in ios"
Hello I am currently evaluating this library for a project and noticed some support differences between ios and android.

For this case, I am able to apply    "icon-text-fit": "width" to resize icon to the text size for both environment but when I provide "icon-text-fit-padding" I get an error which breaks layer rendering in ios.

`    this.mapbox
        .addLayer({
          id: "store-locations

[2022-11-29 08:53] farfromrefug commented on #95
@MarkOdey i dont really use mapbox anymore though i might have a fix.
Could you try to replace the content of `node_modules/@nativescript-community/ui-mapbox/layers/parser/property-parser.ios.js` with this?
[code]
If it works i ll make a new release

[2022-11-29 19:48] MarkOdey commented on #95
Hello Thank you very much for your help.

I tried to put padding with your changes and still no luck.

the layer doesn't render and outputs this error :

`  Error: -[__NSCFNumber isEqualToString:]: unrecognized selector sent to instance 0xcce836faf54293da`

Maybe I am misusing the edgeinsets data type.

Maybe I am  unaware of a procedure for the changes to take effect.

Again thanks for your suppo

[2022-11-29 21:39] farfromrefug commented on #95
@MarkOdey ok can you create a repro example repo so that I can test and fix?